name: WASM Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v1

      - name: Install Rust Toolchains
        uses: actions-rs/toolchain@v1
        with: toolchain: nightly
              default: true
              override: true

      - name: Build
        run: cargo build
