name: WASM Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v1

      - name: Install Rust Toolchains
        uses: actions-rs/toolchain@v1
        with: 
              toolchain: nightly
              default: true
              override: true

      - name: Wasm Pack
        uses: jetli/wasm-pack-action@v0.3.0
        with:
              version: 'latest'                
      - name: Build
        run: wasm-pack build --target web --out-name wasm --out-dir ./static -- --all-features

      - name: Release
        uses: softprops/action-gh-release@v1
        fail_on_unmatched_files: true
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./family-tree-frontend/family-tree-frontend/static
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
